header {
  margin: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.date-tab {
  margin: 0px 10px;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
}