#main > a {
  background-color: inherit;
  color: inherit;
  margin-left: 1rem;
  text-decoration: none;
  z-index: 70;
}

#cyan {
  text-decoration: underline;
  text-decoration-color: #0ff;
  text-underline-offset: 0.1rem;
}

#magenta {
  text-decoration: underline;
  text-decoration-color: #f0f;
  text-underline-offset: 0.1rem;
}

#yellow {
  text-decoration: underline;
  text-decoration-color: #ff0;
  text-underline-offset: 0.1rem;
}